﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <section class="panel">
            <div id="message_row">
            </div>
            <header class="panel-heading">
                <h2 class="panel-title">Filtros de busqueda - Salarios</h2>
            </header>
            <div class="panel-body">
                <div class="form-horizontal form-bordered">
                    <div class="col-12">
                        <div class="form-group row col-12">
                            <label class="col-sm-3 col-12 control-label ">
                                Codigo Cliente:
                            </label>
                            <div class="col-sm-5 col-12">
                                <input type="text" id="txtEmployeeCode" class="form-control" />
                            </div>
                            <div class="col-sm-2 col-12">
                                <button class="btn btn-primary" type="button" id="btnSearchEmployeeCode">
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row col-12">
                            <label class="col-sm-2 col-12 control-label ">
                                Oficina:
                            </label>
                            <div class="col-sm-3 col-12">
                                <select id="ddlOffice" asp-items="@(new SelectList(ViewBag.ListOffice,"Id","Name"))" class="form-control"></select>
                            </div>
                            <label class="col-sm-2 col-12 control-label ">
                                Grado:
                            </label>
                            <div class="col-sm-3 col-12">
                                <input type="number" id="txtGrade1" class="form-control" />
                            </div>
                            <div class="col-sm-2 col-12">
                                <button class="btn btn-primary searchFilters" data-typefilter="1" type="button" id="btnSearchOfficeGrade">
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row col-12">
                            <label class="col-sm-2 col-12 control-label ">
                                Puesto:
                            </label>
                            <div class="col-sm-3 col-12">
                                <select id="ddlPosicion" asp-items="@(new SelectList(ViewBag.ListPosition,"Id","Name"))" class="form-control"></select>
                            </div>
                            <label class="col-sm-2 col-12 control-label ">
                                Grado:
                            </label>
                            <div class="col-sm-3 col-12">
                                <input type="number" id="txtGrade2" class="form-control" />
                            </div>
                            <div class="col-sm-2 col-12">
                                <button class="btn btn-primary searchFilters" type="button" data-typefilter="2" id="btnSearchPosicionGrade">
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row col-12">
                            <label class="col-sm-2 col-12 control-label ">
                                Division:
                            </label>
                            <div class="col-sm-3 col-12">
                                <select id="ddlDivision" asp-items="@(new SelectList(ViewBag.ListDivision,"Id","Name"))" class="form-control"></select>
                            </div>
                            <label class="col-sm-2 col-12 control-label ">
                                Grado:
                            </label>
                            <div class="col-sm-3 col-12">
                                <input type="number" id="txtGrade3" class="form-control" />
                            </div>
                            <div class="col-sm-2 col-12">
                                <button class="btn btn-primary searchFilters" data-typefilter="3" type="button" id="btnSearchDivisionGrade">
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button type="button" id="btnLoadAll" class="btn btn-lg btn-success" >Mostrar todos</button>
                    </div>
                </div>
                <div class="form-horizontal form-bordered">
                    <div class="table-responsive">
                        <table id="tbFilters" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Codigo Empleado</th>
                                    <th>Nombre Completo</th>
                                    <th>Division</th>
                                    <th>Posicion</th>
                                    <th>Fecha de Inicio</th>
                                    <th>Cumpleaños</th>
                                    <th>Número de Identificación</th>
                                    <th>Salario Total</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts{
    <script src="~/js/Salary.js" type="module"></script>
    <script type="text/x-handlebars-template" id="template-filters">

        {{# each response}}
        <tr>
            <td>{{employeeCode}}</td>
            <td>{{employeeFullName}}</td>
            <td>{{division.name}}</td>
            <td>{{position.name}}</td>
            <td>{{beginDate}}</td>
            <td>{{birthday}}</td>
            <td>{{identificationNumber}}</td>
            <td>{{totalSalary}}</td>
        </tr>
        {{/each}}

    </script>
}