﻿
@{
    ViewData["Title"] = "Salary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-12">
        <section class="panel">
            <div id="message_row">
            </div>
            <header class="panel-heading">
                <h2 class="panel-title">Registrar Salarios</h2>
            </header>
            <div class="panel-body">
                <div class="form-horizontal form-bordered">
                    <div class="col-12">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Año</label>
                                <input type="number" class="form-control" data-class="Year" id="txtYear" placeholder="Año">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Mes</label>
                                <input type="number" class="form-control" id="txtMonth" placeholder="Mes" data-class="Month">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Grado</label>
                                <input type="number" class="form-control" id="txtGrado" placeholder="Grado" data-class="Grade">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Código Empleado</label>
                                <input type="text" class="form-control" id="txtEmployeeCode" placeholder="Código" data-class="EmployeeCode">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Nombre Empleado</label>
                                <input type="text" class="form-control" id="txtEmployeeName" placeholder="Nombres" data-class="EmployeeName">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Apellido Empleado</label>
                                <input type="text" class="form-control" id="txtEmployeeSurname" placeholder="Apellidos" data-class="EmployeeSurname">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Número Identificación</label>
                                <input type="text" class="form-control" id="txtIdentificationNumber" placeholder="Número Identificación" data-class="IdentificationNumber">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Fecha Nacimiento</label>
                                <input type="date" class="form-control" id="txtBirthday" placeholder="Fecha Nacimiento" data-class="Birthday">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Fecha Ingreso</label>
                                <input type="date" class="form-control" id="txtBeginDate" placeholder="Fecha Ingreso" data-class="BeginDate">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Oficina</label>
                                <select id="ddlOffice" asp-items="@(new SelectList(ViewBag.ListOffice,"Id","Name"))" class="form-control" data-class="Office"></select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Posición</label>
                                <select id="ddlPosicion" asp-items="@(new SelectList(ViewBag.ListPosition,"Id","Name"))" class="form-control" data-class="Position"></select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>División</label>
                                <select id="ddlDivision" asp-items="@(new SelectList(ViewBag.ListDivision,"Id","Name"))" class="form-control" data-class="Division"></select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Salario Base</label>
                                <input type="number" class="form-control" id="txtBaseSalary" placeholder="Salario Base" data-class="BaseSalary">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Bonus Producción</label>
                                <input type="number" class="form-control" id="txtProductionBonus" placeholder="Bonus Producción" data-class="ProductionBonus">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Bonus Compensación</label>
                                <input type="number" class="form-control" id="txtCompensationBonus" placeholder="Bonus Compensación" data-class="CompensationBonus">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Comisión</label>
                                <input type="number" class="form-control" id="txtCommission" placeholder="Comisión" data-class="Commission">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Contribución</label>
                                <input type="number" class="form-control" id="txtContributions" placeholder="Contribución" data-class="Contributions">
                            </div>
                            <div class="form-group col-md-4 pt-3">
                                <button type="button" id="btnAgregar" class="btn btn-lg btn-primary">Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal form-bordered text-center">
                    <div class="table-responsive">
                        <table id="tbSalary" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Acción</th>
                                    <th>Año</th>
                                    <th>Mes</th>
                                    <th>Grado</th>
                                    <th>Código Empleado</th>
                                    <th>Nombre Empleado</th>
                                    <th>Apellido Empleado</th>
                                    <th># Identificacion</th>
                                    <th>Fecha Nacimiento</th>
                                    <th>Fecha Ingreso</th>
                                    <th>Oficina</th>
                                    <th>Posición</th>
                                    <th>División</th>
                                    <th>Salario Base</th>
                                    <th>Bonus Producción</th>
                                    <th>Bonus Compensación</th>
                                    <th>Comisión</th>
                                    <th>Contribución</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" id="btnSaveMasive" class="btn btn-lg btn-success" style="display: none;">Grabar todo</button>
                </div>
            </div>
        </section>
    </div>
</div>
@section Scripts{
    <script src="~/js/Salary.js" type="module"></script>
    <script type="text/x-handlebars-template" id="template-registermasive">
        {{# each response}}
        <tr>
            <td>
                <a class="delete-row" href="javascript:;">Quitar</a> <br />
                <a class="edit-row" style="display:none" href="javascript:;">Editar</a>
            </td>
            <td data-class="Year">{{Year}}</td>
            <td data-class="Month">{{Month}}</td>
            <td data-class="Grade">{{Grade}}</td>
            <td data-class="EmployeeCode">{{EmployeeCode}}</td>
            <td data-class="EmployeeName">{{EmployeeName}}</td>
            <td data-class="EmployeeSurname">{{EmployeeSurname}}</td>
            <td data-class="IdentificationNumber">{{IdentificationNumber}}</td>
            <td data-class="Birthday">{{Birthday}}</td>
            <td data-class="BeginDate">{{BeginDate}}</td>
            <td data-class="Office" data-id="{{Office.Id}}">{{Office.Name}}</td>
            <td data-class="Position" data-id="{{Position.Id}}">{{Position.Name}}</td>
            <td data-class="Division" data-id="{{Division.Id}}">{{Division.Name}}</td>
            <td data-class="BaseSalary">{{BaseSalary}}</td>
            <td data-class="ProductionBonus">{{ProductionBonus}}</td>
            <td data-class="CompensationBonus">{{CompensationBonus}}</td>
            <td data-class="Commission">{{Commission}}</td>
            <td data-class="Contributions">{{Contributions}}</td>
        </tr>
        {{/each}}

    </script>
}